@{
    ViewBag.Title = "Home Page";
}

<hr />

    <div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label>Cities</label>
                <select class="form-control" id="City">
                    <option value="">Seçin</option>
                    <option value="Baku">Baku</option>
                    <option value="Sumgayit">Sumgayit</option>
                    <option value="Ganja">Ganja</option>



                </select>
            </div>
           
        </form>
    </div>

        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Namaz</th>
                        <th>Vaxt</th>
                    </tr>
                   
                </thead>

                <tbody id="NamazTime">
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
        </div>

